.card-largura {
    max-width: 18rem;
}

.imagem-carrossel-um {
    object-fit: cover;
    object-position: 0 80%;
    height: 400px;
}

.imagem-carrossel-dois {
    object-fit: cover;
    object-position: 0 50%;
    height: 400px;
}

.titulo {
    font-family: 'Pacifico', cursive;
    color: darkred!important;
}

.botao-cor-especial {
    color: white;
    background-color: darkred;
}

.borda-cor-especial {
    border-color: darkred;
}

.card-posicao-imagem {
    object-fit: cover;
    height: 200px;
}